In [1]:
import sqlite3

# Connect to the database (if it does not exist, it will be created)
conn = sqlite3.connect('../blood_donation.db')

# Create the Users table
conn.execute('''CREATE TABLE users
             (UserID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Email VARCHAR(50) UNIQUE,
             Phone VARCHAR(50),
             Password VARCHAR(75),
             Role VARCHAR(10),
             FOREIGN KEY(Role) REFERENCES Roles(RoleID))''')

# Create the Donors table
conn.execute('''CREATE TABLE donors
             (DonorID INTEGER PRIMARY KEY AUTOINCREMENT,
             UserID INT,
             DonorName VARCHAR(50),
             DonorAge INT,
             DonorGender VARCHAR(1),
             DonorWeight FLOAT,
             BloodType VARCHAR(3),
             DonorAddress VARCHAR(250),
             DonorMedicalHistory VARCHAR(50),
             FOREIGN KEY(UserID) REFERENCES Users(UserID),
             FOREIGN KEY(DonorMedicalHistory) REFERENCES MedicalConditions(MedicalConditionID))''')

# Create the MedicalConditions table
conn.execute('''CREATE TABLE medical_conditions
             (MedicalConditionID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(75))''')

# Create the Roles table
conn.execute('''CREATE TABLE roles
             (RoleID INTEGER PRIMARY KEY AUTOINCREMENT,
             RoleName VARCHAR(10))''')

# Create the Donations table
conn.execute('''CREATE TABLE donations
             (DonationID INTEGER PRIMARY KEY AUTOINCREMENT,
             DonorID INT,
             DonationDate DATE,
             Quantity INT,
             Location VARCHAR(50),
             FOREIGN KEY(DonorID) REFERENCES Donors(DonorID))''')

# Create the Appointment table
conn.execute('''CREATE TABLE appointment
                 (AppointmentID INTEGER PRIMARY KEY AUTOINCREMENT,
                  Date DATETIME,
                  Status VARCHAR(20),
                  DonorID INT,
                  DonationCenterID INT,
                  SlotID INT,
                  FOREIGN KEY(DonorID) REFERENCES Donors(DonorID),
                  FOREIGN KEY(DonationCenterID) REFERENCES DonationCenter(DonationCenterID),
                  FOREIGN KEY(SlotID) REFERENCES Slots(SlotID))''')

# Create the DonationCenter table
conn.execute('''CREATE TABLE donation_center
             (DonationCenterID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Address VARCHAR(100))''')

# Create the Slots table
conn.execute('''CREATE TABLE slots
                 (SlotID INTEGER PRIMARY KEY AUTOINCREMENT,
                  StartTime TIME,
                  EndTime TIME,
                  Max_Bookings INT,
                  Booked_Count INT,
                  DonationCenterID INT,
                  FOREIGN KEY(DonationCenterID) REFERENCES DonationCenter(DonationCenterID))''')

# Create the Staff table
conn.execute('''CREATE TABLE staff
             (StaffID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Email VARCHAR(50) UNIQUE,
             Password VARCHAR(75),
             Role VARCHAR(10),
             FOREIGN KEY(Role) REFERENCES Roles(RoleID))''')

# Save the changes
conn.commit()

In [2]:
# Insert data into the Roles table
conn.execute("INSERT INTO roles (RoleID, RoleName) VALUES (1, 'Donor')")
conn.execute("INSERT INTO roles (RoleID, RoleName) VALUES (2, 'Staff')")

In [3]:
# Insert data into the MedicalConditions table
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (1, 'Aids and HIV')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (2, 'Asthma')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (3, 'Babesiosis')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (4, 'Blood disease or disorder')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (5, 'Caesarean Section')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (6, 'Diabetes')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (7, 'Epilepsy')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (8, 'Fits')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (9, 'Haemoglobin level')")
conn.execute("INSERT INTO medical_conditions (MedicalConditionID, Name) VALUES (10, 'Syphilis')")

# Save the changes
conn.commit()

In [4]:
# Insert data into the Slots table
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (1, '09:00:00', '10:00:00', 5, 0)")
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (2, '10:00:00', '11:00:00', 5, 0)")
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (3, '11:00:00', '12:00:00', 5, 0)")
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (4, '12:00:00', '13:00:00', 5, 0)")
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (5, '13:00:00', '14:00:00', 5, 0)")
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (6, '14:00:00', '15:00:00', 5, 0)")
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (7, '15:00:00', '16:00:00', 5, 0)")
conn.execute("INSERT INTO slots (SlotID, StartTime, EndTime, Max_Bookings, Booked_Count) VALUES (8, '16:00:00', '17:00:00', 5, 0)")


# Save the changes
conn.commit()

In [5]:
# Insert data into the DonationCenter table
conn.execute("INSERT INTO donation_center (DonationCenterID, Name, Address) VALUES (1, 'BloodBank@Outram', 'Health Sciences Authority(Opposite Outram Park MRT Station)11 Outram Road Singapore 169078')")
conn.execute("INSERT INTO donation_center (DonationCenterID, Name, Address) VALUES (2, 'BloodBank@DhobyGhaut', 'Dhoby Ghaut MRT Station Dhoby Xchange (Near Exit B)11 Orchard Road #B1-01 to #B1-09 Singapore 238826')")
conn.execute("INSERT INTO donation_center (DonationCenterID, Name, Address) VALUES (3, 'BloodBank@Woodlands', 'Woodlands Civic Centre(Opposite Causeway Point)900 South Woodlands Drive #05-07 Singapore 730900')")
conn.execute("INSERT INTO donation_center (DonationCenterID, Name, Address) VALUES (4, 'BloodBank@WestgateTower', 'Westgate Tower(Linked to Jurong East MRT Station)1 Gateway Drive #10-01 to 05 Singapore 608531')")

# Save the changes
conn.commit()

In [6]:
# Select all rows from the MedicalConditions table
cursor = conn.execute("SELECT * FROM medical_condtions")

# Print the results
for row in cursor:
    print(row)

(1, 'Aids and HIV')
(2, 'Asthma')
(3, 'Babesiosis')
(4, 'Blood disease or disorder')
(5, 'Caesarean Section')
(6, 'Diabetes')
(7, 'Epilepsy')
(8, 'Fits')
(9, 'Haemoglobin level')
(10, 'Syphilis')

In [ ]:
# Insert data into the Staff table
conn.execute("INSERT INTO staff (StaffID, Name, Email, Password, Role) VALUES (1, 'ZhengWei', 'staff1@gmail.com', 'password1', 2)")
conn.execute("INSERT INTO staff (StaffID, Name, Email, Password, Role) VALUES (2, 'John', 'staff2@gmail.com', 'password2', 2)")
conn.execute("INSERT INTO staff (StaffID, Name, Email, Password, Role) VALUES (3, 'Mary', 'staff3@gmail.com', 'password3', 2)")

# Save the changes
conn.commit()

In [ ]:
#Filter out appointments that aren't fully booked
cursor = conn.execute("""
    SELECT appointment.Date, slots.StartTime, slots.EndTime, donation_center.Name
    FROM appointment
    INNER JOIN slots ON Appointment.SlotID = slots.SlotID
    INNER JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID
    WHERE slots.Booked_Count < slots.Max_Bookings
""")

# Print the results
for row in cursor:
    print(row)