In [1]:
import sqlite3

# Connect to the database (if it does not exist, it will be created)
conn = sqlite3.connect('../blood_donation.db')

# Create the Users table
conn.execute('''CREATE TABLE users
             (UserID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Email VARCHAR(50) UNIQUE,
             Phone VARCHAR(50),
             Password VARCHAR(75),
             Role VARCHAR(10),
             FOREIGN KEY(Role) REFERENCES roles(RoleID))''')

# Create the Donors table
conn.execute('''CREATE TABLE donors
             (DonorID INTEGER PRIMARY KEY AUTOINCREMENT,
             UserID INT,
             DonorName VARCHAR(50),
             DonorAge INT,
             DonorGender VARCHAR(1),
             DonorWeight FLOAT,
             BloodType VARCHAR(3),
             DonorAddress VARCHAR(250),
             DonorMedicalHistory VARCHAR(50),
             FOREIGN KEY(UserID) REFERENCES users(UserID),
             FOREIGN KEY(DonorMedicalHistory) REFERENCES medical_conditions(MedicalConditionID))''')

# Create the MedicalConditions table
conn.execute('''CREATE TABLE medical_conditions
             (MedicalConditionID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(75))''')

# Create the Roles table
conn.execute('''CREATE TABLE roles
             (RoleID INTEGER PRIMARY KEY AUTOINCREMENT,
             RoleName VARCHAR(10))''')

# Create the Donations table
conn.execute('''CREATE TABLE donations
             (DonationID INTEGER PRIMARY KEY AUTOINCREMENT,
             DonorID INT,
             DonationDate DATE,
             Quantity INT,
             Location VARCHAR(50),
             FOREIGN KEY(DonorID) REFERENCES donors(DonorID))''')

# Create the Appointment table
conn.execute('''CREATE TABLE appointment
                 (AppointmentID INTEGER PRIMARY KEY AUTOINCREMENT,
                  Date DATE,
                  Status VARCHAR(20),
                  DonorID INTEGER,
                  DonationCenterID INTEGER,
                  SlotID INTEGER,
                  FOREIGN KEY(DonorID) REFERENCES donors(DonorID),
                  FOREIGN KEY(DonationCenterID) REFERENCES donation_center(DonationCenterID),
                  FOREIGN KEY(SlotID) REFERENCES slots(SlotID))''')

# Create the DonationCenter table
conn.execute('''CREATE TABLE donation_center
             (DonationCenterID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Address VARCHAR(100))''')

# Create the Slots table
conn.execute('''CREATE TABLE slots
                 (SlotID INTEGER PRIMARY KEY AUTOINCREMENT,
                  StartTime TIME,
                  EndTime TIME,
                  Max_Bookings INT,
                  Booked_Count INT,
                  DonationCenterID INT,
                  FOREIGN KEY(DonationCenterID) REFERENCES donation_center(DonationCenterID))''')

# Create the Staff table
conn.execute('''CREATE TABLE staff
             (StaffID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Email VARCHAR(50) UNIQUE,
             Password VARCHAR(75),
             Role VARCHAR(10),
             FOREIGN KEY(Role) REFERENCES roles(RoleID))''')

# Save the changes
conn.commit()

In [2]:
# Insert data into the Roles table
conn.execute("INSERT INTO roles (RoleName) VALUES ('Donor')")
conn.execute("INSERT INTO roles (RoleName) VALUES ('Staff')")

In [3]:
# Insert data into the MedicalConditions table
conn.execute("INSERT INTO medical_conditions  (Name) VALUES ('Aids and HIV')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Asthma')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Babesiosis')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Blood disease or disorder')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Caesarean Section')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Diabetes')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Epilepsy')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Fits')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Haemoglobin level')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Syphilis')")

# Save the changes
conn.commit()

In [4]:
# Insert data into the Slots table
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 1)")

conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 2)")

conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 3)")

conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 4)")

# Save the changes
conn.commit()

In [5]:
# Insert data into the DonationCenter table
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@Outram', 'Health Sciences Authority(Opposite Outram Park MRT Station)11 Outram Road Singapore 169078')")
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@DhobyGhaut', 'Dhoby Ghaut MRT Station Dhoby Xchange (Near Exit B)11 Orchard Road #B1-01 to #B1-09 Singapore 238826')")
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@Woodlands', 'Woodlands Civic Centre(Opposite Causeway Point)900 South Woodlands Drive #05-07 Singapore 730900')")
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@WestgateTower', 'Westgate Tower(Linked to Jurong East MRT Station)1 Gateway Drive #10-01 to 05 Singapore 608531')")

# Save the changes
conn.commit()

In [6]:
# Insert data into the Staff table
conn.execute("INSERT INTO staff (Name, Email, Password, Role) VALUES ('ZhengWei', 'staff1@gmail.com', 'password1', 2)")
conn.execute("INSERT INTO staff (Name, Email, Password, Role) VALUES ('John', 'staff2@gmail.com', 'password2', 2)")
conn.execute("INSERT INTO staff (Name, Email, Password, Role) VALUES ('Mary', 'staff3@gmail.com', 'password3', 2)")

# Save the changes
conn.commit()

In [7]:
import csv
import os

# Get the current working directory (where the notebook is located)
notebook_dir = os.getcwd()

# Specify the path to the CSV file relative to the notebook directory
csv_path = os.path.join(notebook_dir, '..', 'donations.csv')

# Open the CSV file and create a CSV reader object
with open(csv_path, 'r', newline='') as csvfile:
    reader = csv.DictReader(csvfile)

    # Loop through the rows of the CSV file and insert each row into the donations table
    for row in reader:
        conn.execute('''INSERT INTO donations (DonorID, DonationDate, Quantity, Location)
                        VALUES (?, ?, ?, ?)''', (row['DonorID'], row['DonationDate'], row['Quantity'], row['Location']))

# Commit the changes and close the database connection
conn.commit()

print("Donation data successfully imported from donations.csv")

Donation data successfully imported from donations.csv

In [8]:
# Get the current working directory (where the notebook is located)
notebook_dir = os.getcwd()

# Specify the path to the CSV file relative to the notebook directory
csv_path = os.path.join(notebook_dir, '..', 'users.csv')

# Open the users.csv file for reading
with open(csv_path, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        # Encode the password before inserting it into the database
        password = row['Password'].encode('utf-8')
        conn.execute("INSERT INTO users (Name, Email, Phone, Password, Role) VALUES (?, ?, ?, ?, ?)",
                     (row['Name'], row['Email'], row['Phone'], password, row['Role']))
        print(f"Inserted user {row['Name']} with email {row['Email']}")

# Commit the changes and close the connection
conn.commit()

Inserted user user1 with email user1@example.com
Inserted user user2 with email user2@example.com
Inserted user user3 with email user3@example.com
Inserted user user4 with email user4@example.com
Inserted user user5 with email user5@example.com
Inserted user user6 with email user6@example.com
Inserted user user7 with email user7@example.com
Inserted user user8 with email user8@example.com
Inserted user user9 with email user9@example.com
Inserted user user10 with email user10@example.com

In [9]:
# Get the current working directory (where the notebook is located)
notebook_dir = os.getcwd()

# Specify the path to the CSV file relative to the notebook directory
csv_path = os.path.join(notebook_dir, '..', 'donors.csv')

# Open the donors.csv file for reading
with open(csv_path, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        # Insert the row data into the donors table
        conn.execute("INSERT INTO donors (UserID, DonorName, DonorAge, DonorGender, DonorWeight, BloodType, DonorAddress, DonorMedicalHistory) VALUES (?, ?, ?, ?, ?, ?, ?, ?)",
                     (row['UserID'], row['DonorName'], row['DonorAge'], row['DonorGender'], row['DonorWeight'], row['BloodType'], row['DonorAddress'], row['DonorMedicalHistory']))
        print(f"Inserted donor {row['DonorName']} with ID {row['UserID']}")

# Commit the changes and close the connection
conn.commit()

Inserted donor user1 with ID 1
Inserted donor user2 with ID 2
Inserted donor user3 with ID 3
Inserted donor user4 with ID 4
Inserted donor user5 with ID 5
Inserted donor user6 with ID 6
Inserted donor user7 with ID 7
Inserted donor user8 with ID 8
Inserted donor user9 with ID 9
Inserted donor user10 with ID 10

In [10]:
# Select all rows from the MedicalConditions table
cursor = conn.execute("SELECT * FROM medical_conditions")

# Print the results
for row in cursor:
    print(row)

(1, 'Aids and HIV')
(2, 'Asthma')
(3, 'Babesiosis')
(4, 'Blood disease or disorder')
(5, 'Caesarean Section')
(6, 'Diabetes')
(7, 'Epilepsy')
(8, 'Fits')
(9, 'Haemoglobin level')
(10, 'Syphilis')

In [28]:
#Filter out appointments that aren't fully booked
cursor = conn.execute("""
    SELECT appointment.Date, slots.StartTime, slots.EndTime, donation_center.Name
    FROM appointment
    INNER JOIN slots ON Appointment.SlotID = slots.SlotID
    INNER JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID
    WHERE slots.Booked_Count < slots.Max_Bookings
""")

# Print the results
for row in cursor:
    print(row)

('2023-04-01', '09:00:00', '10:00:00', 'BloodBank@DhobyGhaut')
('2023-03-31', '16:00:00', '17:00:00', 'BloodBank@Woodlands')
('2023-05-06', '14:00:00', '15:00:00', 'BloodBank@WestgateTower')
('2023-04-01', '10:00:00', '11:00:00', 'BloodBank@DhobyGhaut')
('2023-07-08', '14:00:00', '15:00:00', 'BloodBank@Outram')
('2023-03-27', '09:00:00', '10:00:00', 'BloodBank@Woodlands')
('2023-04-28', '09:00:00', '10:00:00', 'BloodBank@WestgateTower')
('2023-05-17', '13:00:00', '14:00:00', 'BloodBank@Outram')

In [2]:
import sqlite3

# Connect to the database (if it does not exist, it will be created)
conn = sqlite3.connect('../blood_donation.db')

cursor = conn.execute("SELECT * FROM donations JOIN donors ON donations.DonorID = donors.DonorID WHERE donors.DonorAge > 30")

# Print the results
for row in cursor:
    print(row)

(1, 1, '2023-01-10', 5, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(2, 1, '2020-10-30', 5, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(3, 2, '2021-05-29', 2, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(4, 2, '2020-04-14', 2, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(5, 1, '2022-04-27', 4, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(6, 1, '2022-04-14', 1, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(7, 1, '2021-08-05', 3, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(8, 1, '2020-01-02', 3, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(9, 2, '2022-09-18', 3, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(10, 1, '2022-02-08', 5, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(11, 2, '2021-10-23', 1, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(12, 2, '2023-02-15', 3, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(13, 2, '2021-01-08', 4, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(14, 2, '2022-03-26', 4, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(15, 2, '2022-10-26', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(16, 2, '2020-02-09', 4, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(17, 2, '2021-10-09', 4, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(18, 1, '2020-11-10', 2, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(19, 2, '2022-04-27', 4, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(20, 1, '2022-08-28', 4, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(21, 2, '2020-08-30', 3, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(22, 1, '2021-08-19', 1, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(23, 1, '2022-08-28', 1, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(24, 2, '2020-01-29', 4, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(25, 1, '2020-09-19', 1, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(26, 2, '2022-07-14', 1, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(27, 1, '2021-11-19', 4, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(28, 2, '2022-04-17', 3, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(29, 1, '2021-10-25', 5, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(30, 1, '2021-12-28', 4, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(31, 1, '2020-06-16', 3, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(32, 2, '2021-04-08', 2, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(33, 1, '2022-03-16', 5, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(34, 2, '2023-02-20', 2, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(35, 2, '2021-11-06', 3, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(36, 1, '2021-12-20', 5, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(37, 2, '2020-12-25', 1, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(38, 2, '2020-07-11', 1, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(39, 1, '2022-01-28', 5, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(40, 1, '2021-10-28', 3, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(41, 2, '2021-06-13', 3, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(42, 2, '2023-02-03', 4, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(43, 2, '2020-03-02', 5, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(44, 2, '2022-06-12', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(45, 1, '2022-02-09', 2, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(46, 1, '2022-08-17', 4, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(47, 2, '2021-01-02', 1, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(48, 2, '2022-12-11', 2, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(49, 2, '2021-04-14', 2, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(50, 2, '2023-03-15', 5, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(51, 2, '2023-02-19', 1, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(52, 1, '2022-04-27', 3, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(53, 2, '2020-05-03', 1, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(54, 2, '2020-03-09', 3, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(55, 2, '2021-10-05', 4, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(56, 2, '2021-02-11', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(57, 2, '2020-01-31', 1, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(58, 1, '2022-03-07', 5, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(59, 1, '2020-06-04', 4, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(60, 2, '2021-04-18', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(61, 1, '2021-11-28', 4, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(62, 2, '2021-08-21', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(63, 1, '2021-03-12', 3, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(64, 2, '2021-03-06', 1, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(65, 1, '2022-02-19', 3, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(66, 2, '2020-10-11', 5, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(67, 1, '2021-06-01', 4, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(68, 1, '2022-07-04', 5, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(69, 1, '2020-05-15', 3, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(70, 1, '2021-05-01', 2, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(71, 1, '2021-04-06', 4, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(72, 1, '2023-01-29', 2, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(73, 1, '2022-05-20', 5, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(74, 2, '2020-01-04', 3, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(75, 1, '2023-01-29', 1, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(76, 2, '2022-07-12', 3, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(77, 2, '2021-02-14', 1, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(78, 1, '2021-11-04', 2, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(79, 2, '2021-05-29', 5, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(80, 2, '2021-01-30', 4, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(81, 2, '2020-06-24', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(82, 1, '2022-02-03', 2, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(83, 2, '2021-03-05', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(84, 1, '2021-03-23', 2, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(85, 1, '2020-04-27', 2, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(86, 1, '2022-01-02', 3, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(87, 1, '2022-02-04', 5, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(88, 2, '2020-08-26', 2, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(89, 2, '2023-02-25', 3, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(90, 2, '2022-02-06', 3, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(91, 2, '2021-07-10', 2, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(92, 1, '2022-12-20', 4, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(93, 2, '2022-05-22', 4, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(94, 1, '2020-05-30', 5, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(95, 2, '2020-12-31', 4, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(96, 1, '2020-01-20', 3, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(97, 2, '2020-02-01', 5, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(98, 1, '2020-07-06', 5, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(99, 1, '2021-12-18', 1, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(100, 1, '2022-07-28', 1, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(101, 1, '2021-01-04', 1, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(102, 2, '2020-01-02', 4, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(103, 1, '2022-11-09', 5, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(104, 2, '2020-06-30', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(105, 2, '2020-08-11', 2, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(106, 1, '2022-01-15', 3, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(107, 2, '2020-02-17', 2, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(108, 2, '2020-12-08', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(109, 2, '2020-02-04', 3, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(110, 1, '2020-04-29', 1, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(111, 2, '2020-06-08', 5, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(112, 2, '2020-12-20', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(113, 2, '2021-06-21', 3, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(114, 2, '2022-12-23', 4, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(115, 1, '2021-09-15', 2, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(116, 1, '2021-05-14', 3, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(117, 2, '2020-05-31', 5, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(118, 2, '2022-07-12', 3, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(119, 2, '2020-12-07', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(120, 1, '2020-04-19', 2, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(121, 1, '2022-05-04', 2, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(122, 2, '2021-06-29', 5, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(123, 2, '2022-04-29', 1, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(124, 2, '2020-05-16', 1, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(125, 2, '2022-12-12', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(126, 2, '2021-10-15', 2, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(127, 1, '2022-04-22', 3, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(128, 2, '2020-12-14', 4, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(129, 2, '2020-11-30', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(130, 2, '2021-04-28', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(131, 2, '2021-10-04', 3, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(132, 2, '2021-05-27', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(133, 2, '2021-08-04', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(134, 1, '2020-09-20', 2, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(135, 1, '2021-12-04', 3, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(136, 1, '2022-06-07', 4, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(137, 1, '2020-04-20', 4, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(138, 1, '2020-10-19', 5, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(139, 2, '2022-08-26', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(140, 2, '2021-04-02', 3, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(141, 1, '2022-06-10', 4, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(142, 1, '2021-01-22', 5, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(143, 1, '2020-04-05', 1, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(144, 1, '2021-02-17', 4, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(145, 1, '2020-04-17', 2, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(146, 2, '2023-01-03', 5, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(147, 1, '2020-03-22', 3, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(148, 2, '2021-10-04', 5, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(149, 1, '2020-06-13', 5, 'BloodBank@Outram', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(150, 1, '2021-07-31', 3, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(151, 2, '2020-01-02', 5, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(152, 1, '2021-04-08', 5, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(153, 1, '2021-08-20', 2, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(154, 2, '2022-06-20', 1, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(155, 2, '2022-12-12', 4, 'BloodBank@WestgateTower', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(156, 2, '2021-08-23', 3, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(157, 2, '2020-03-11', 5, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(158, 1, '2023-01-29', 2, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(159, 1, '2021-03-15', 3, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(160, 2, '2020-07-26', 5, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(161, 2, '2021-10-01', 4, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(162, 1, '2022-03-20', 4, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(163, 1, '2021-07-13', 4, 'BloodBank@Woodlands', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(164, 2, '2021-12-18', 1, 'BloodBank@Woodlands', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(165, 2, '2021-11-26', 4, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(166, 2, '2021-06-16', 4, 'BloodBank@Outram', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(167, 1, '2021-02-23', 2, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(168, 1, '2022-11-17', 2, 'BloodBank@WestgateTower', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(169, 2, '2023-03-14', 1, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')
(170, 1, '2022-10-29', 5, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(171, 1, '2022-07-06', 5, 'BloodBank@DhobyGhaut', 1, 1, 'user1', 44, 'M', 84.87291182360866, 'B-', 'Singapore', '4')
(172, 2, '2021-03-07', 5, 'BloodBank@DhobyGhaut', 2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2')

In [3]:
cursor = conn.execute("SELECT * FROM appointment JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID WHERE Date = '2023-04-12' AND donation_center.Name = 'BloodBank@DhobyGhaut'")

# Print the results
for row in cursor:
    print(row)

In [4]:
cursor = conn.execute("SELECT * FROM donors JOIN medical_conditions ON donors.DonorMedicalHistory = medical_conditions.MedicalConditionID WHERE medical_conditions.Name = 'Asthma'")

# Print the results
for row in cursor:
    print(row)

(2, 2, 'user2', 63, 'F', 89.26045509121838, 'A+', 'Singapore', '2', 2, 'Asthma')

In [5]:
cursor = conn.execute("SELECT * FROM appointment JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID WHERE Status = 'Cancelled' AND donation_center.Name = 'BloodBank@Woodlands'")

# Print the results
for row in cursor:
    print(row)

In [6]:
cursor = conn.execute("SELECT * FROM appointment JOIN slots ON appointment.SlotID = slots.SlotID WHERE DonorID = 1 AND Date = '2023-04-12' AND StartTime = '11:00:00'")

# Print the results
for row in cursor:
    print(row)

In [7]:
cursor = conn.execute("SELECT * FROM donors JOIN appointment ON donors.DonorID = appointment.DonorID JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID JOIN users ON donors.UserID = users.UserID WHERE users.Role = 'Donor' AND donation_center.Name = 'BloodBank@DhobyGhaut'")

# Print the results
for row in cursor:
    print(row)

In [8]:
cursor = conn.execute("SELECT users.Name AS FirstName, donors.DonorName AS LastName, users.Email, users.Phone AS PhoneNumber, COUNT(donations.DonationID) AS NumDonations FROM donors  JOIN users ON donors.UserID = users.UserID JOIN donations ON donors.DonorID = donations.DonorID WHERE donations.DonationDate >= DATE('now', '-1 year') GROUP BY donors.DonorID HAVING NumDonations > 3")

# Print the results
for row in cursor:
    print(row)

('user1', 'user1', 'user1@example.com', '+6540434095', 155)
('user2', 'user2', 'user2@example.com', '+6594623173', 131)

In [9]:
cursor = conn.execute("SELECT donation_center.Name, AVG(slots.Booked_Count / slots.Max_Bookings) AS AvgCapacityUtilization FROM appointment JOIN slots ON appointment.SlotID = slots.SlotID JOIN donation_center ON slots.DonationCenterID = donation_center.DonationCenterID WHERE appointment.Date = DATE('now') AND slots.Booked_Count < slots.Max_Bookings GROUP BY donation_center.DonationCenterID")

# Print the results
for row in cursor:
    print(row)

In [12]:
cursor = conn.execute("SELECT donors.DonorName, appointment.Date, appointment.Status FROM donors JOIN appointment ON donors.DonorID = appointment.DonorID WHERE donors.BloodType = 'O+' AND appointment.Date >= DATE('now', '-1 month')")

# Print the results
for row in cursor:
    print(row)

('user6', '2023-03-27', 'Confirmed')

In [14]:
cursor = conn.execute("SELECT donors.DonorName, donors.DonorAge, donors.BloodType FROM donors WHERE donors.DonorAge BETWEEN 18 AND 65 AND donors.BloodType = 'A+'AND NOT EXISTS (SELECT * FROM donations WHERE donations.DonorID = donors.DonorID AND donations.DonationDate >= date('now', '-30 days'))")

# Print the results
for row in cursor:
    print(row)

('user3', 40, 'A+')

In [15]:
cursor = conn.execute("SELECT appointment.Status, COUNT(*) as TotalAppointments FROM appointment GROUP BY appointment.Status")


# Print the results
for row in cursor:
    print(row)

('Confirmed', 3)
('Pending', 5)

In [18]:
cursor = conn.execute("SELECT staff.Name, staff.Email FROM staff INNER JOIN donation_center ON staff.Role = 'staff' AND donation_center.DonationCenterID = staff.StaffID WHERE donation_center.DonationCenterID LIKE '%Health Sciences Authority(Opposite Outram Park MRT Station)11 Outram Road Singapore 169078%'")

# Print the results
for row in cursor:
    print(row)

In [19]:
cursor = conn.execute("SELECT medical_conditions.Name, COUNT(*) as TotalDonors FROM donors INNER JOIN medical_conditions ON donors.DonorMedicalHistory = medical_conditions.MedicalConditionID GROUP BY medical_conditions.Name ORDER BY TotalDonors DESC LIMIT 5")

# Print the results
for row in cursor:
    print(row)

('Fits', 2)
('Blood disease or disorder', 2)
('Epilepsy', 1)
('Diabetes', 1)
('Caesarean Section', 1)

In [20]:
cursor = conn.execute("SELECT slots.StartTime, slots.EndTime, slots.Max_Bookings - slots.Booked_Count as AvailableSlots FROM slots INNER JOIN donation_center ON donation_center.DonationCenterID = slots.DonationCenterID LEFT JOIN appointment ON appointment.SlotID = slots.SlotID AND appointment.Status = 'Confirmed' WHERE donation_center.Name = 'BloodBank@WestgateTower' AND appointment.Date = '2023-03-31'")

# Print the results
for row in cursor:
    print(row)

In [23]:
selected_date = '2023-03-31'
donation_center_id = 3

# Execute the SQL query with the placeholder values
cursor = conn.execute("SELECT Slots.SlotID, strftime('%H:%M', Slots.StartTime) AS StartTime, strftime('%H:%M', Slots.EndTime) AS EndTime, COALESCE(subquery.booked_count, 0) AS booked_count, Slots.Max_Bookings FROM Slots LEFT JOIN (SELECT Appointment.SlotID, COUNT(Appointment.AppointmentID) AS booked_count FROM Appointment WHERE Appointment.Date = :selected_date GROUP BY Appointment.SlotID) AS subquery ON Slots.SlotID = subquery.SlotID WHERE Slots.DonationCenterID = :donation_center_id GROUP BY Slots.SlotID HAVING IFNULL(subquery.booked_count, 0) < Slots.Max_Bookings", {'selected_date': selected_date, 'donation_center_id': donation_center_id})

# Print the results
for row in cursor:
    print(row)

(17, '09:00', '10:00', 0, 5)
(18, '10:00', '11:00', 0, 5)
(19, '11:00', '12:00', 0, 5)
(20, '12:00', '13:00', 0, 5)
(21, '13:00', '14:00', 0, 5)
(22, '14:00', '15:00', 0, 5)
(23, '15:00', '16:00', 0, 5)
(24, '16:00', '17:00', 1, 5)

In [27]:
# Define the values for the placeholders
filter_date = '2023-04-01'
filter_quantity = 1
filter_location = 'BloodBank@DhobyGhaut'
filter_name = 'user1'
filter_email = 'user1@example.com'
filter_phone = '+6540434095'

# Execute the SQL query with the placeholder values
cursor = conn.execute("SELECT users.Name, users.Email, users.Phone, donations.DonationDate, donations.Quantity, donations.Location FROM Donations JOIN Donors ON donors.DonorID = donations.DonorID JOIN Users ON users.UserID = donors.UserID WHERE (:filter_date IS NULL OR donations.DonationDate = :filter_date) AND (:filter_quantity IS NULL OR donations.Quantity = :filter_quantity) AND (:filter_location IS NULL OR donations.Location = :filter_location) AND (:filter_name IS NULL OR users.Name LIKE '%' || :filter_name || '%') AND (:filter_email IS NULL OR users.Email LIKE '%' || :filter_email || '%') AND (:filter_phone IS NULL OR users.Phone LIKE '%' || :filter_phone || '%')", {'filter_date': filter_date, 'filter_quantity': filter_quantity, 'filter_location': filter_location, 'filter_name': filter_name, 'filter_email': filter_email, 'filter_phone': filter_phone})

# Print the results
for row in cursor:
    print(row)