In [1]:
import sqlite3

# Connect to the database (if it does not exist, it will be created)
conn = sqlite3.connect('../blood_donation.db')

# Create the Users table
conn.execute('''CREATE TABLE users
             (UserID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Email VARCHAR(50) UNIQUE,
             Phone VARCHAR(50),
             Password VARCHAR(75),
             Role VARCHAR(10),
             FOREIGN KEY(Role) REFERENCES roles(RoleID))''')

# Create the Donors table
conn.execute('''CREATE TABLE donors
             (DonorID INTEGER PRIMARY KEY AUTOINCREMENT,
             UserID INT,
             DonorName VARCHAR(50),
             DonorAge INT,
             DonorGender VARCHAR(1),
             DonorWeight FLOAT,
             BloodType VARCHAR(3),
             DonorAddress VARCHAR(250),
             DonorMedicalHistory VARCHAR(50),
             FOREIGN KEY(UserID) REFERENCES users(UserID),
             FOREIGN KEY(DonorMedicalHistory) REFERENCES medical_conditions(MedicalConditionID))''')

# Create the MedicalConditions table
conn.execute('''CREATE TABLE medical_conditions
             (MedicalConditionID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(75))''')

# Create the Roles table
conn.execute('''CREATE TABLE roles
             (RoleID INTEGER PRIMARY KEY AUTOINCREMENT,
             RoleName VARCHAR(10))''')

# Create the Donations table
conn.execute('''CREATE TABLE donations
             (DonationID INTEGER PRIMARY KEY AUTOINCREMENT,
             DonorID INT,
             DonationDate DATE,
             Quantity INT,
             Location VARCHAR(50),
             FOREIGN KEY(DonorID) REFERENCES donors(DonorID))''')

# Create the Appointment table
conn.execute('''CREATE TABLE appointment
                 (AppointmentID INTEGER PRIMARY KEY AUTOINCREMENT,
                  Date DATE,
                  Status VARCHAR(20),
                  DonorID INTEGER,
                  DonationCenterID INTEGER,
                  SlotID INTEGER,
                  FOREIGN KEY(DonorID) REFERENCES donors(DonorID),
                  FOREIGN KEY(DonationCenterID) REFERENCES donation_center(DonationCenterID),
                  FOREIGN KEY(SlotID) REFERENCES slots(SlotID))''')

# Create the DonationCenter table
conn.execute('''CREATE TABLE donation_center
             (DonationCenterID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Address VARCHAR(100))''')

# Create the Slots table
conn.execute('''CREATE TABLE slots
                 (SlotID INTEGER PRIMARY KEY AUTOINCREMENT,
                  StartTime TIME,
                  EndTime TIME,
                  Max_Bookings INT,
                  Booked_Count INT,
                  DonationCenterID INT,
                  FOREIGN KEY(DonationCenterID) REFERENCES donation_center(DonationCenterID))''')

# Create the Staff table
conn.execute('''CREATE TABLE staff
             (StaffID INTEGER PRIMARY KEY AUTOINCREMENT,
             Name VARCHAR(50),
             Email VARCHAR(50) UNIQUE,
             Password VARCHAR(75),
             Role VARCHAR(10),
             DonationCenterID INT,
             FOREIGN KEY(Role) REFERENCES roles(RoleID),
             FOREIGN KEY(DonationCenterID) REFERENCES donation_center(DonationCenterID))''')

# Save the changes
conn.commit()

In [2]:
# Insert data into the Roles table
conn.execute("INSERT INTO roles (RoleName) VALUES ('Donor')")
conn.execute("INSERT INTO roles (RoleName) VALUES ('Staff')")

In [3]:
# Insert data into the MedicalConditions table
conn.execute("INSERT INTO medical_conditions  (Name) VALUES ('Aids and HIV')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Asthma')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Babesiosis')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Blood disease or disorder')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Caesarean Section')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Diabetes')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Epilepsy')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Fits')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Haemoglobin level')")
conn.execute("INSERT INTO medical_conditions (Name) VALUES ('Syphilis')")

# Save the changes
conn.commit()

In [5]:
# Insert data into the Slots table
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 1)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 1)")


# Save the changes
conn.commit()

In [6]:
# Insert data into the DonationCenter table
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@Outram', 'Health Sciences Authority(Opposite Outram Park MRT Station)11 Outram Road Singapore 169078')")
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@DhobyGhaut', 'Dhoby Ghaut MRT Station Dhoby Xchange (Near Exit B)11 Orchard Road #B1-01 to #B1-09 Singapore 238826')")
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@Woodlands', 'Woodlands Civic Centre(Opposite Causeway Point)900 South Woodlands Drive #05-07 Singapore 730900')")
conn.execute("INSERT INTO donation_center (Name, Address) VALUES ('BloodBank@WestgateTower', 'Westgate Tower(Linked to Jurong East MRT Station)1 Gateway Drive #10-01 to 05 Singapore 608531')")

# Save the changes
conn.commit()

In [7]:
# Select all rows from the MedicalConditions table
cursor = conn.execute("SELECT * FROM medical_conditions")

# Print the results
for row in cursor:
    print(row)

(1, 'Aids and HIV')
(2, 'Asthma')
(3, 'Babesiosis')
(4, 'Blood disease or disorder')
(5, 'Caesarean Section')
(6, 'Diabetes')
(7, 'Epilepsy')
(8, 'Fits')
(9, 'Haemoglobin level')
(10, 'Syphilis')

In [54]:
# Insert data into the Staff table
conn.execute("INSERT INTO staff (Name, Email, Password, Role, DonationCenterID) VALUES ('ZhengWei', 'staff1@gmail.com', 'password1', 2, 1)")
conn.execute("INSERT INTO staff (Name, Email, Password, Role, DonationCenterID) VALUES ('John', 'staff2@gmail.com', 'password2', 2, 2)")
conn.execute("INSERT INTO staff (Name, Email, Password, Role, DonationCenterID) VALUES ('Mary', 'staff3@gmail.com', 'password3', 2, 3)")
conn.execute("INSERT INTO staff (Name, Email, Password, Role, DonationCenterID) VALUES ('Daniel', 'staff4@gmail.com', 'password4', 2, 4)")

# Save the changes
conn.commit()

In [33]:
import sqlite3

# Connect to the database (if it does not exist, it will be created)
conn = sqlite3.connect('../blood_donation.db')

#Filter out appointments that aren't fully booked
cursor = conn.execute("""
    SELECT appointment.Date, slots.StartTime, slots.EndTime, donation_center.Name
    FROM appointment
    INNER JOIN slots ON Appointment.SlotID = slots.SlotID
    INNER JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID
    WHERE slots.Booked_Count < slots.Max_Bookings
""")

# Print the results
for row in cursor:
    print(row)

('2023-04-12', '11:00:00', '12:00:00', 'BloodBank@DhobyGhaut')
('2023-03-31', '14:00:00', '15:00:00', 'BloodBank@WestgateTower')
('2023-03-27', '13:00:00', '14:00:00', 'BloodBank@Woodlands')
('2023-03-27', '16:00:00', '17:00:00', 'BloodBank@DhobyGhaut')

In [2]:
conn.execute("DELETE FROM slots WHERE SlotID IN (9, 10, 11, 12, 13, 14, 15, 16)")
# Save the changes
conn.commit()

In [2]:
import sqlite3

# Connect to the database (if it does not exist, it will be created)
conn = sqlite3.connect('../blood_donation.db')

# Insert data into the Slots table
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 2)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 2)")

conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 3)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 3)")

conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('09:00:00', '10:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('10:00:00', '11:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('11:00:00', '12:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('12:00:00', '13:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('13:00:00', '14:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('14:00:00', '15:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('15:00:00', '16:00:00', 5, 0, 4)")
conn.execute("INSERT INTO slots (StartTime, EndTime, Max_Bookings, Booked_Count, DonationCenterID) VALUES ('16:00:00', '17:00:00', 5, 0, 4)")

# Save the changes
conn.commit()

In [7]:
import sqlite3

# Connect to the database (if it does not exist, it will be created)
conn = sqlite3.connect('../blood_donation.db')

cursor = conn.execute("SELECT * FROM donations JOIN donors ON donations.DonorID = donors.DonorID WHERE donors.DonorAge > 30")

# Print the results
for row in cursor:
    print(row)

In [9]:
cursor = conn.execute("SELECT * FROM appointment JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID WHERE Date = '2023-04-12' AND donation_center.Name = 'BloodBank@DhobyGhaut'")

# Print the results
for row in cursor:
    print(row)

(1, '2023-04-12', 'Pending', 1, 2, 3, 2, 'BloodBank@DhobyGhaut', 'Dhoby Ghaut MRT Station Dhoby Xchange (Near Exit B)11 Orchard Road #B1-01 to #B1-09 Singapore 238826')

In [10]:
cursor = conn.execute("SELECT * FROM donors JOIN medical_conditions ON donors.DonorMedicalHistory = medical_conditions.MedicalConditionID WHERE medical_conditions.Name = 'Asthma'")

# Print the results
for row in cursor:
    print(row)

(2, 2, 'test', 25, 'F', 13.0, 'AB+', 'address2', '2', 2, 'Asthma')

In [17]:
cursor = conn.execute("SELECT * FROM appointment JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID WHERE Status = 'Cancelled' AND donation_center.Name = 'BloodBank@Woodlands'")

# Print the results
for row in cursor:
    print(row)

(3, '2023-03-27', 'Cancelled', 1, 3, 5, 3, 'BloodBank@Woodlands', 'Woodlands Civic Centre(Opposite Causeway Point)900 South Woodlands Drive #05-07 Singapore 730900')

In [29]:
cursor = conn.execute("SELECT * FROM appointment JOIN slots ON appointment.SlotID = slots.SlotID WHERE DonorID = 1 AND Date = '2023-04-12' AND StartTime = '11:00:00'")

# Print the results
for row in cursor:
    print(row)

(1, '2023-04-12', 'Pending', 1, 2, 3, 3, '11:00:00', '12:00:00', 5, 0, 1)

In [21]:
cursor = conn.execute("SELECT * FROM donors JOIN appointment ON donors.DonorID = appointment.DonorID JOIN donation_center ON appointment.DonationCenterID = donation_center.DonationCenterID JOIN users ON donors.UserID = users.UserID WHERE users.Role = 'Donor' AND donation_center.Name = 'BloodBank@DhobyGhaut'")

# Print the results
for row in cursor:
    print(row)

In [24]:
cursor = conn.execute("SELECT users.Name AS FirstName, donors.DonorName AS LastName, users.Email, users.Phone AS PhoneNumber, COUNT(donations.DonationID) AS NumDonations FROM donors  JOIN users ON donors.UserID = users.UserID JOIN donations ON donors.DonorID = donations.DonorID WHERE donations.DonationDate >= DATE('now', '-1 year') GROUP BY donors.DonorID HAVING NumDonations > 3")

# Print the results
for row in cursor:
    print(row)

In [25]:
cursor = conn.execute("SELECT donation_center.Name, AVG(slots.Booked_Count / slots.Max_Bookings) AS AvgCapacityUtilization FROM appointment JOIN slots ON appointment.SlotID = slots.SlotID JOIN donation_center ON slots.DonationCenterID = donation_center.DonationCenterID WHERE appointment.Date = DATE('now') AND slots.Booked_Count < slots.Max_Bookings GROUP BY donation_center.DonationCenterID")

# Print the results
for row in cursor:
    print(row)

In [30]:
cursor = conn.execute("SELECT donors.DonorName, appointment.Date, appointment.Status FROM donors JOIN appointment ON donors.DonorID = appointment.DonorID WHERE donors.BloodType = 'O+' AND appointment.Date >= DATE('now', '-1 month')")

for row in cursor:
    print(row)

('test', '2023-04-12', 'Pending')
('test', '2023-03-27', 'Cancelled')

In [66]:
cursor = conn.execute("SELECT donors.DonorName, donors.DonorAge, donors.BloodType FROM donors WHERE donors.DonorAge BETWEEN 18 AND 65 AND donors.BloodType = 'AB+'AND NOT EXISTS (SELECT * FROM donations WHERE donations.DonorID = donors.DonorID AND donations.DonationDate >= date('now', '-56 days'))")

for row in cursor:
    print(row)

('test', 25, 'AB+')

In [36]:
cursor = conn.execute("SELECT appointment.Status, COUNT(*) as TotalAppointments FROM appointment GROUP BY appointment.Status")

for row in cursor:
    print(row)

('Cancelled', 2)
('Confirmed', 1)
('Pending', 1)

In [60]:
try:
    cursor = conn.execute("SELECT staff.Name, staff.Email FROM staff INNER JOIN donation_center ON staff.Role = 'staff' AND donation_center.DonationCenterID = staff.StaffID WHERE donation_center.Address LIKE '%Health Sciences Authority(Opposite Outram Park MRT Station)11 Outram Road Singapore 169078%'")
    for row in cursor:
        print(row)
except Exception as e:
    print("Error:", e)

In [61]:
cursor = conn.execute("SELECT * FROM staff")
for row in cursor:
    print(row)

(1, 'ZhengWei', 'staff1@gmail.com', 'password1', '2', 1)
(2, 'John', 'staff2@gmail.com', 'password2', '2', 2)
(3, 'Mary', 'staff3@gmail.com', 'password3', '2', 3)
(4, 'Daniel', 'staff4@gmail.com', 'password4', '2', 4)

In [63]:
cursor = conn.execute("SELECT medical_conditions.Name, COUNT(*) as TotalDonors FROM donors INNER JOIN medical_conditions ON donors.DonorMedicalHistory = medical_conditions.MedicalConditionID GROUP BY medical_conditions.Name ORDER BY TotalDonors DESC LIMIT 5")

for row in cursor:
    print(row)

('Asthma', 1)

In [65]:
cursor = conn.execute("SELECT slots.StartTime, slots.EndTime, slots.Max_Bookings - slots.Booked_Count as AvailableSlots FROM slots INNER JOIN donation_center ON donation_center.DonationCenterID = slots.DonationCenterID LEFT JOIN appointment ON appointment.SlotID = slots.SlotID AND appointment.Status = 'Confirmed' WHERE donation_center.Name = 'BloodBank@WestgateTower' AND appointment.Date = '2023-03-31'")

for row in cursor:
    print(row)